*{
  margin: 0px;
  color: white;
}
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #08141a;
}

.title {
  margin-top: 50px;
  margin-bottom: 50px;
}
.title h1{
  font-size: 75px;
  font-weight: bold;
}

.content{
  background-color: #102937;
}
.content p {
  font-size: 24px;
  padding-top: 7%;
}

.content #guess-input {
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  margin-top: 20px;
  color: black;
}

.content #guess-button {
  font-size: 24px;
  margin-top: 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#message {
  font-size: 24px;
  margin-top: 20px;
  font-weight: bold;
  padding-bottom: 28%;
}
